page-collage {
    .preview{
        border:5px solid rgb(58, 56, 206);
        background-color:rgba(92, 165, 194, 0.76);
        border-radius: 20px;
        width: 144px;
        height: 144px;
        box-shadow:rgba(0,0,0,0.4) 10px 10px inset
    }


}
