page-forum {
    .scroll-content {
        background: color($colors, energy);
        
      }
      .img{
        width: 100%;
    }
    .wrapping-list .item-content, .wrapping-list .item {
      overflow: initial;
      white-space: initial;
  }
   

}
