page-user-type {
        #welcome{
            background: color($colors, energy);
            h1{
                font-size: 38px;
                margin-top:50px
            }
            .marginTop{
                margin-top:150px;
            }
            .logo{
                height: 100px;
            }
        }
     

}
